<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.project.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.project.entity.Feedback">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="bug_id" property="bugId" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="create_at" property="createAt" />
        <result column="checked" property="checked" />
        <result column="solved" property="solved" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, bug_id, type, content, create_at, checked, solved
    </sql>

</mapper>
