<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.project.mapper.SubquestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.project.entity.Subquestion">
        <id column="id" property="id" />
        <result column="question_id" property="questionId" />
        <result column="stem" property="stem" />
        <result column="answer1" property="answer1" />
        <result column="answer2" property="answer2" />
        <result column="parse1" property="parse1" />
        <result column="parse2" property="parse2" />
        <result column="diff" property="diff" />
        <result column="know" property="know" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_id, stem, answer1, answer2, parse1, parse2, diff, know
    </sql>

</mapper>
