<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.project.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.project.entity.User">
        <id column="id" property="id" />
        <result column="userHead" property="userHead" />
        <result column="userName" property="userName" />
        <result column="userGender" property="userGender" />
        <result column="userNewLogin" property="userNewLogin" />
        <result column="userCity" property="userCity" />
        <result column="userProvince" property="userProvince" />
        <result column="userOpenid" property="userOpenid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userHead, userName, userGender, userNewLogin, userCity, userProvince, userOpenid
    </sql>

    <select id="selectTotalUserQuestionNum" resultType="com.java.project.vo.DataVo">
      select chapter.pid,count(user_question.id) num from user_question,chapter,chapter_question where chapter.id=chapter_question.chapter_id and chapter_question.question_id=user_question.question_id and user_question.user_id=#{uid} group by chapter.pid
    </select>

    <select id="selectQuestionNumByUid" resultType="com.java.project.vo.DataVo">
      select chapter.id pid, count(user_question.id) num from user_question,chapter,chapter_question where chapter.id=chapter_question.chapter_id and chapter_question.question_id=user_question.question_id and chapter.pid=#{pid} and user_question.user_id=#{uid} group by chapter.id
    </select>

</mapper>
