<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="stylesheet" th:href="@{/layui/css/layui.css}" >-->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">题目</label>
    <div class="layui-input-block">
        <textarea placeholder="题目" class="layui-textarea" id="input">32.某地充分挖掘丰富的稻田资源，大力推广稻渔综合种养，助农增收致富。农民釆用新的耕作模 式后，稻为鱼提供遮阴和有机物质，鱼儿游动促进了稻床通风透气，加上鱼类不断翻动泥土，让 稻田水不断充氧，同时鱼的排泄物为禾苗提供了有机肥料，从而促进了禾苗的生根分藥和扬花 抽穗，升级后的稻田综合种养显现了 “稻好鱼肯定多，鱼多稻肯定好”的良性循环效应。采用 这种种养方式的稻田不施化肥农药，出产的生态稻米口感好、价格高，既保护了自然环境又实 现了农民的增收。“稻田养鱼”给我们的启示有
A.事物之间有其固有的客观联系
B.人们可以发现并利用规律来实现自己的目的
C.顺应自然就是不要对自然的事物做任何改动
D.实现人和自然的和谐统一需要正确的实践方式




50.中国历史上第一部具有资产阶级共和国宪法性质的法典是
A.《钦定宪法大纲》	B.《中华民国临时约法》
C.《中华民国约法》	D.《训政纲领》49.在辛亥革命爆发前，孙中山领导中国同盟会发动的武装起义中影响最大的是
A.黄花岗起义B.惠州起义	C.萍浏醴起义	D.镇南关起义


145.1956年社会主义改造基本完成以后，中国进入社会主义初级阶段。社会主义初级阶段在发展过 程中会呈现不同的阶段性特征。1956年召开的中共八大指出，社会主义制度在我国已经基本上 建立起来了，我国国内的主要矛盾是
A.无产阶级和资产阶级的矛盾
B.人民对于经济文化迅速发展的需要同当前经济文化不能满足人民需要的状况之间的矛盾
C.人民日益增长的物质文化需要同落后的社会生产之间的矛盾
D.人民日益增长的美好生活需要和不平衡不充分的发展之间的矛盾hello</textarea>
    </div>
</div>


<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">题目</label>
    <div class="layui-input-block">
        <textarea placeholder="答案" class="layui-textarea" id="answer">32【答案］ABCD
【出处】通1麟P4二（二）
【简析】B正确。法、英、德的三大工人运动标 志着现代无产阶级作为独立的政治力量登上 了历史舞台。1848年欧洲革命后，资本主义在 各国得到了迅速发展，无产阶级力量不断壮 大。1864年,国际工人协会（第一国际）应运而 生。十月革命实现了社会主义从理想到现实 的伟大飞跃,开辟了人类历史的新纪元。A、C、 D错误。
49【答案】ABCD
【出处】瞞曜P3二（一）1
50.【答案1ABCD
［出处】龊顧號P4二（一）3
145.【答案】ABCD
【出处】隴3蹒P4二（一）3
5【答案】ABCD
【出处】瞞瞄P4二（一）3
6.【答案】ABCD
【出处】剧瞄P82八
【简析】马克思通过分析剩余价值的生产、积 累、流通以及分配，揭示了剩余价值的运动规 律，创立了剩余价值理论。剩余价值理论深刻 揭露了资本主义生产关系的剥削本质，阐明了 资产阶级与无产阶级之间阶级斗争的经济根 源，指出了无产阶级革命的历史必然性。剩余 价值理论是马克思主义经济理论的基石，是无 产阶级反对资产阶级、揭示资本主义制度剥削 .本质的锐利武器。唯物史观和剩余价值学说 的创立，为实现社会主义从空想到科学的飞跃 奠定了坚实的理论基础。D正确。
7.【答案］ABCD
【出处】礬聽麝P4二（二）
8.【答案】ABCD
【出处】麗靂軽P5 -（三）
【简析】习近平在纪念马克思诞辰200周年大 会上的讲话中指出：马克思主义是.实践的理 论，指引着人民改造世界的行动。马克思说, “全部社会生活在本质上是实践的”，“哲学家 们只是用不同的方式解释世界，问题在于改变 世界”。实践的观点、生活的观点是马克思主 义认识论的基本观点，实践性是马克思主义理 论区别于其他理论的显著特征。A正确。
第二章
9.【答案］ABCD
【出处】続爾離E1P9-（一）5
【简析】根据对哲学基本问题第一方面的不同 回答（存在和思维究竟谁是世界的本原），哲学 可划分为唯物主义和唯心主义两个对立的基
本派别。根据对哲学基本问题第二方面的不 同回答（存在和思维有没有同一性），哲学又可 以划分为可知论和不可知论。C错误。唯心主 义不等于形而上学（如黑格尔的唯心辩证法）， 唯物主义不等于辩证法（如形而上学唯物主 义），A、B错误。D是正确答案。
10.【答案］ABCD
【出处】驅新劉啓一（一）
［简析】马克思主义哲学第一次明确提出：“全 部哲学，特别是近代哲学的重大的基本问题, 是思维和存在的关系问题。”哲学基本问题包 括两个方面的内容:其一，存在和思维究竟谁 是世界的本原，即物质和精神何者是第一性、 何者是第二性的问题;其二，思维能否正确认 识存在，即存在和思维有无同一性的问题。 马克思主义关于哲学基本问题的原理为划分 哲学中的基本派别确定了科学标准。根据对 哲学基本问题第一方面的不同回答，哲学可 划分为唯物主义和唯心主义两个对立的基本 派别。唯物主义把世界的本原归结为物质, 主张物质第一性，意识第二性，意识是物质的 产物;唯心主义把世界的本原归结为精神，主 张意识第一性，物质第二性,物质是意识的产 物。这就是唯物主义和唯心主义这两个专门 的哲学术语的特定的含义和确定的标准，A 正确。存在和思维是否具有同一性，是哲学 基本问题的第二方面的内容，对这个问题的 不同回答,是划分可知论和不可知论的标准, B错误。社会存在与社会意识的关系问题是 社会历史观的基本问题，是区分唯物史观与 唯心史观的标准，唯物史观认为社会存在决 定社会意识，唯心史观认为社会意识决定社 会存在,C错误。哲学除了回答世界的本原是 什么的问题，还要回答世界是怎样存在的问 题，即世界上的事物是联系的还是孤立的，是 发展的还是静止的。根据对这些问题的不同
回答，形成了辩证法和形而上学两种不同的观点,D错误。
11.【答案】ABCD
（简析】唯物主义与唯心主义是哲学上的两大
基本派别，其划分的根本标准在于它们对哲
学基本问题第一方面所作的回答不同，即世 界的本原是否是物质的。A、B、D虽然都是哲 学的重要问题，但不符合题干要求。知识扩 展:除了一元论以外，还有一些哲学家否认世 界有共同的本质和统一的基础，主张多元论 的世界观，其中，最为典型的是主张世界有精 神和物质两个本质的二元论。
12.【答案］ABCD
【出处】圈霸劉卩10—（二）1（2）
［简析】物质范畴是对物质世界多样性和统一 性所作的最高的哲学概括。物质的唯一特性 是客观实在性，它存在于人的意识之外，为人 的意识所反映。C正确。物质这一客观存在 是可以认识的对象，由于科学技术条件的限 制，目前世界上还有很多事物未被人类认识, 但这并不意味着它们不可认识。未知世界与 已知世界都是客观存在的，随着实践和科学 的发展，人们对未知世界的认识将会不断扩 展和深化。物质的这种可感知性和可反映性 并不意味着它的一切形态和特性都能够被人 们的肉体感官所直接感觉到（比如磁场等）。 A、B、D错误。
13.【答案］ABCD
【简析】这是一道需要知识储备的题目。题目 实际上是考查唯心主义的基本类型。题干中 的“意念移物” “意念直接改变物质结构”，是 夸大意识作用的唯心论。C、D是唯物主义, 不符合题意，应先排除。唯心论有主观唯心 论与客观唯心论之分，主观唯心论把世界的 本原归结为个人的感觉或意识，客观唯心论 则把世界的本原归结为超自然、超人类的所 谓客观精神。本题中“意念”属于个人的感觉 或意识，故题干的说法是主观唯心论，排除B。 A是正确答案。
14.【答案］ABCD
【出处】圈瞄P9-（一）5（1）
【简析】“心诚则灵，心不诚则不灵”的意思是 “心”的诚与不诚，能决定事情的成败。这里 的“心”是指意识。显然，此观点是一种夸大 意识能动作用的唯心主义观点。据此分析,D 符合题意。A把题干的观点说成是唯物主 义，当然是错误的。B把题干的观点说成是庸 俗唯物主义，与题意不合。庸俗唯物主义把 唯物主义庸俗化了，它把意识直接归结为物
质，或认为人的精神活动能力只不过是脑物 质的分泌物，说人脑分泌精神就如同肝脏分 泌胆汁一样，或认为思想就是脑髓质的位移。 这就混淆物质与意识的界限，抹杀了意识.与 物质的原则区别。C把题干的观点说成是客 观唯心主义观点，也与题意不合。客观唯心 主义把精神绝对化为脱离任何个人的独立存 在，把虚构出来的在人以外存在的“客观精 神”当作世界的本原。所以,A、B、C均不符合 题意。
15.【答案】ABCD
【出处】驅1圈円0-（二）1（2）
【简析】这道试题考查的知识点是辩证唯物主 义的物质观。恩格斯在总结当时哲学和自然 科学发展成果时就指出：“物、物质无非是各 种物的总和，而这个概念就是从这一总和中 抽象出来的。”这就是说，物质这个名词是一 种简称，“我们就用这种简称把感官可感知的 许多不同的事物依照其共同的属性概括起 来”。这样就明确指出了哲学物质概念与自 然科学关于具体的物质形态和物质结构的概 念之间共性与个性的关系（不是整体和部分 的关系、系统与要素的关系）。因此，B是正 确的。哲学上的物质范畴与自然科学的物质 范畴是共性与个性的关系，因此不是同等程 度的范畴,A、C、D错误。
</textarea>
    </div>
</div>
<button id="add">点击添加</button>
<script src="../static/jquery.js"></script>
<script>

    $("#add").on("click",function(){
        console.log(getQuestionAndAnswer());;
    });
    ///\p{Unified_Ideograph}/ug  匹配中文


    function getQuestionAndAnswer() {
        var questionList = new Array();
        var question = $("#input").val();
        question += "\n";
        var gqid = question.match(/\d+\./g);
        for (i = 0; i < gqid.length; ++i) {
            gqid[i] = gqid[i].replace(".", "");
            questionList[gqid[i]]=new Object();
            if(i<gqid.length-1) {
                var re = new RegExp(gqid[i] + "\\.([\\s\\S]*?)D([\\s\\S]*?)" + gqid[i + 1], "g");
            }else{
                re = new RegExp(gqid[i] + "\\.([\\s\\S]*?)D([\\s\\S]*?)\\n", "g");
            }
            // console.log("11111111111111111111111111");
            var q = question.match(re)[0];
            var title= q.match(/\d+\.([\s\S]*?)A/ug);
            title=title[0].split(".")[1].replace(/\s+/g, "").replace("A", "");
            console.log(title);
            var option_a = q.match(/A.([\s\S]*?)[\s|B|\n]/g);
            option_a = option_a[0].substring(2, option_a[0].length).replace(/\s+/g, "").replace("B", "");
            // console.log(option_a);
            var option_b = q.match(/B.([\s\S]*?)[\s|C|\n]/g);
            option_b = option_b[0].substring(2, option_b[0].length).replace(/\s+/g, "").replace("C", "");
            //  console.log(option_b);
            var option_c = q.match(/C.([\s\S]*?)[\s|C|\n]/g);
            option_c = option_c[0].substring(2, option_c[0].length).replace(/\s+/g, "").replace("D", "");
            // console.log(option_c);
            var option_d = q.match(/D.([\s\S]*?)[\s|\n|.]/g);
            option_d = option_d[0].substring(2, option_d[0].length).replace(/\s+/g, "");
            /*console.log(option_d);
            console.log("11111111111111111111111111");*/
            questionList[gqid[i]].title=title;
            questionList[gqid[i]].option_a=option_a;
            questionList[gqid[i]].option_b=option_b;
            questionList[gqid[i]].option_c=option_c;
            questionList[gqid[i]].option_d=option_d;

        }



        /*  var gq = question.match(/\d+\.([\s\S]*?)A/ug);
          for (var i = 0; i < gq.length; ++i) {
              gq[i] = gq[i].split(".")[1].replace(/\s+/g, "").replace("A", "");
              questionList[gqid[i]] = new Object();
              questionList[gqid[i]].title = gq[i];
          }

          var ga = question.match(/A.([\s\S]*?)[\s|B|\n]/g);
          for (var i = 0; i < ga.length; ++i) {
              ga[i] = ga[i].split(".")[1].replace(/\s+/g, "");
              if (ga[i][ga[i].length - 1] == 'B') {
                  ga[i] = ga[i].replace("B", "");
              }
              questionList[gqid[i]].option_a = ga[i];
          }

          var gb = question.match(/B.([\s\S]*?)[\s|C|\n]/g);
          for (var i = 0; i < gb.length; ++i) {

              gb[i] = gb[i].substring(2, gb[i].length).replace(/\s+/g, "");
              if (gb[i][gb[i].length - 1] == 'C') {
                  gb[i] = gb[i].replace("C", "");
              }
              questionList[gqid[i]].option_b = gb[i];
          }

          var gc = question.match(/C.([\s\S]*?)[\s|C|\n]/g);
          for (var i = 0; i < gc.length; ++i) {
              gc[i] = gc[i].split(".")[1].replace(/\s+/g, "");
              if (gc[i][gc[i].length - 1] == 'D') {
                  gc[i] = gc[i].replace("D", "");
              }
              questionList[gqid[i]].option_c = gc[i];
          }

          var gd = question.match(/D.([\s\S]*?)[\s|\n|.]/g);
          for (var i = 0; i < gd.length; ++i) {
              gd[i] = gd[i].substring(2, gd[i].length).replace(/\s+/g, "");
              questionList[gqid[i]].option_d = gd[i];
          }*/

        var answer = $("#answer").val();
        var idlist = answer.match(/\d+.*答案/g);

        for (j = 0; j < idlist.length; ++j) {
            idlist[j] = idlist[j].match(/\d+/)[0];
        }
        for (j = 0; j < idlist.length; ++j) {
            if (j < idlist.length - 1) {
                re = new RegExp(idlist[j] + ".*答案([\\s\\S]*?)\\n" + idlist[j + 1], "g");
            } else {
                re = new RegExp(idlist[idlist.length - 1] + ".*答案([\\s\\S]*?)。", "g");
            }
            tmp = answer.match(re)[0];
            id = tmp.match(/\d+/);
            ans = tmp.match(/答案.*([\s\S]*?)\n/);
            knowledge = tmp.match(/P([\s\S]*?)\n/);
            id = id[0];
            ans = ans[0].match(/[A-Z]*\n/)[0].replace("\n", "");
            parse = tmp.match(/简析.([\s\S]*)。/);

            if (knowledge) {
                knowledge = "P" + knowledge[1].replace("\n", "");
            }
            if (parse) {
                parse = parse[1] + "。";
            }

            /* console.log("开始了");
             console.log(id);
             console.log(ans);
             console.log(knowledge);
             console.log(parse);
             console.log("结束了");*/

            if (questionList[id] != null) {
                questionList[id].answer1 = ans;
                questionList[id].knowledge = knowledge;
                questionList[id].parse = parse;
            }


            /* console.log(match);
        for (i = 0; i < match.length; ++i) {
            var answer = match[i].match(/\d+.*答案./g);
            if (answer.length == 1) {
                var id = match[i].match(/\d+/);
                var ans = match[i].match(/答案.*([\s\S]*?)\n/);
                var knowledge = match[i].match(/P([\s\S]*?)\n/);
                var parse = match[i].match(/简析.([\s\S]*)。/);
                id = id[0];
                ans = ans[0].match(/[A-Z]*\n/)[0].replace("\n", "");
                if (knowledge) {
                    knowledge = "P" + knowledge[1].replace("\n", "");
                }
                if (parse) {
                    parse = parse[1] + "。";
                }

                if (questionList[id] != null) {

                    questionList[id].answer1 = ans;
                    questionList[id].knowledge = knowledge;
                    questionList[id].parse = parse;
                }

            } else {
                var idlist = match[i].match(/\d+.*答案/g);

                for (j = 0; j < idlist.length; ++j) {
                    idlist[j] = idlist[j].match(/\d+/)[0];
                }
                for (j = 0; j < idlist.length; ++j) {
                    if (j < idlist.length - 1) {
                        var re = new RegExp(idlist[j] + ".*答案([\\s\\S]*?)\\n" + idlist[j + 1], "g");
                    } else {
                        re = new RegExp(idlist[idlist.length - 1] + ".*答案([\\s\\S]*?)。", "g");
                    }
                    tmp = match[i].match(re)[0];
                    id = tmp.match(/\d+/);
                    ans = tmp.match(/答案.*([\s\S]*?)\n/);
                    knowledge = tmp.match(/P([\s\S]*?)\n/);
                    id = id[0];
                    ans = ans[0].match(/[A-Z]*\n/)[0].replace("\n", "");
                    parse = tmp.match(/简析.([\s\S]*)。/);

                    if (knowledge) {
                        knowledge = "P" + knowledge[1].replace("\n", "");
                    }
                    if (parse) {
                        parse = parse[1] + "。";
                    }
                    if (questionList[id] != null) {
                        questionList[id].answer1 = ans;
                        questionList[id].knowledge = knowledge;
                        questionList[id].parse = parse;
                    }
                    /!*  console.log("开始了");
                      console.log(id);
                      console.log(ans);
                      console.log(knowledge);
                      console.log(parse);
                      console.log("结束了");*!/
                }


            }

        }
*/


        }
        return questionList;
    }

</script>
</body>
</html>